// @use "@/assets/style/global.scss" as *;

$primary-color: #4d81d2;
$secondary-color: #073e92;
$light-color: #cccccc;
$white-color: #ffffff;
$dark-color: #333333;
$black-color: #000000;

$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999;
  background: $primary-color;

  .top-header {
    width: 100%;
    position: relative;
    background: var(--primary-color);
    border-bottom: 1px solid $light-color;

    .content {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        gap: 1rem;
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;

          span {
            display: flex;
            align-items: center;
          }
        }

        &.cont-list {
          a {
            gap: 0.4rem;
            font-size: 1rem;
            padding: 1rem 0;
            color: $light-color;
            transition: $transition;

            .txt {
              color: $white-color;
              font-size: 0.8rem;
            }

            &:hover {
              color: $secondary-color;
            }
          }
        }

        &.top-actions {
          li {
            cursor: pointer;
            display: flex;

            button {
              cursor: pointer;
              padding: 0.5rem;
              font-size: 1.2rem;
              border-radius: 0.6rem;
              color: $white-color;
              background: $secondary-color;
              transition: $transition;

              &:hover {
                box-shadow: 0 0 1px 2px $light-color;
                background: $white-color;
                color: $primary-color;
                border-radius: 1rem;
              }
            }

            select {
              background: transparent;
              color: $white-color;
              padding: 0.4rem 0;
              outline: none;

              option {
                // background: $primary-color;
                background: transparent;
                color: $secondary-color;
                backdrop-filter: blur;
                outline: none;
                border: none;
              }
            }
          }
        }
      }
    }
  }

  .navbar {
    width: 100%;
    position: relative;
    background: $primary-color;

    .content {
      gap: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        gap: 3rem;
        display: flex;
        align-items: center;

        .logo {
          display: flex;

          h2 {
            font-weight: 900;
            font-size: 1.5rem;
            color: $white-color;
          }
        }

        ul {
          gap: 1rem;
          display: flex;
          align-items: center;

          a {
            display: flex;
            font-weight: 400;
            padding: 1.2rem 0;
            font-size: 0.8rem;
            position: relative;
            color: $white-color;
            text-transform: uppercase;

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0.1rem;
              transform: scaleX(0);
              background: $white-color;
              transform-origin: right;
              transition: transform 1s ease-in-out;
            }

            &.active {
              color: $secondary-color;
              position: relative;

              &::before {
                transform: scaleX(1);
                transform-origin: left;
              }
            }

            &:hover {
              color: $secondary-color;

              &::before {
                transform: scaleX(0.1);
                transform-origin: left;
              }
            }
          }
        }
      }

      .right {
        gap: 2rem;
        display: flex;
        align-items: center;

        .search {
          position: relative;
          display: flex;
          width: 17rem;
          align-items: center;
          background: transparent;

          input {
            width: 100%;
            position: relative;
            padding: 0.6rem;
            padding-left: 2rem;
            color: $secondary-color;
            background: rgba($light-color, 0.6);
            border-radius: 0.3rem;
            transition: $transition;

            &::placeholder {
              color: $secondary-color;
              font-size: 0.8rem;
              opacity: 0.6;
            }

            &:active,
            &:focus {
              color: $dark-color;
              transition: $transition;
              background: $white-color;
              box-shadow: 0 0 1px 2px $light-color;
            }
          }

          .icon {
            position: absolute;
            left: 0.5rem;
            top: 50%;
            transform: translateY(-40%);
            color: $secondary-color;
            font-size: 1.2rem;
            pointer-events: none;
          }
        }

        .auth {
          width: fit-content;
          display: flex;
          color: $white-color;
          padding: 0.6rem 1rem;
          border-radius: 0.6rem;
          transition: $transition;
          background: $secondary-color;

          &:hover {
            color: $secondary-color;
            background: $light-color;
            box-shadow: 0 0 1px 2px rgba($secondary-color, 0.3);
          }
        }
      }

      @media (max-width: 1000px) {
        .right {
          gap: 1rem;

          .search {
            width: auto;
            align-items: center;

            input {
              display: none;
            }

            .icon {
              cursor: pointer;
              position: relative;
              padding: 0.6rem 1rem;
              left: 0;
              top: 0;
              transform: none;
              font-size: 1.3rem;
              color: $white-color;
            }
          }
        }
      }
    }
  }

  .phone-menu {
    display: flex;
    width: 100%;
    position: relative;
    background: $primary-color;

    .content {
      width: 100%;
      display: flex;
      padding: 1rem 0;
      align-items: center;
      justify-content: space-between;

      .logo {
        display: flex;

        h2 {
          font-weight: 900;
          font-size: 1.5rem;
          color: $white-color;
        }
      }

      button {
        transition: $transition;
        gap: 0.4rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
          width: 100%;
          height: 0.1rem;
          background: $white-color;
        }

        &.active {
          position: relative;

          .bar2 {
            display: none;
          }

          .bar1 {
            position: absolute;
            transform: rotate(50deg);
          }
          .bar3 {
            position: absolute;
            transform: rotate(-50deg);
          }
        }
      }
    }
  }

  @media (max-width: 720px) {
    .top-header,
    .navbar {
      display: none;
    }
  }

  @media (min-width: 720px) {
    .phone-menu {
      display: none;
    }
  }
}

// FOOTER
.footer {
  width: 100%;
  position: relative;
  color: $white-color;
  background: $primary-color;

  .download-app {
    width: 100%;
    padding: 2rem 0;
    position: relative;

    .content {
      gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .txt {
        display: flex;
        color: $white-color;
        flex-direction: column;

        p {
          font-size: 1rem;
        }

        h2 {
          font-weight: 600;
          font-size: 1.3rem;
        }
      }

      .img {
        display: flex;
        align-items: center;

        img {
          width: 12rem;
          height: auto;
          pointer-events: none;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }

  .main {
    width: 100%;
    position: relative;
    border: 1px solid $white-color;
    border-left: 0;
    border-right: 0;

    .content {
      width: 100%;
      padding: 3rem 0;
      position: relative;
      border-color: $white-color;
      gap: 2rem;
      display: grid;
      align-items: start;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .col {
        width: 100%;
        position: relative;

        h3 {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        ul {
          gap: 0.6rem;
          display: flex;
          flex-direction: column;

          a {
            display: flex;
            color: $light-color;
            align-items: center;
            transition: $transition;

            &:hover {
              color: $secondary-color;
            }
          }
        }

        .socials {
          gap: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            color: $white-color;
            transition: $transition;

            &:hover {
              color: $black-color;
            }
          }
        }
      }
    }
  }

  .copy {
    width: 100%;
    position: relative;
    padding: 1rem 0 2rem 0;

    .content {
      width: 100%;
      position: relative;
      gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 1rem;
        color: $white-color;
      }

      .privacy {
        gap: 1rem;
        display: flex;
        align-items: center;

        a {
          font-size: 1rem;
          color: $light-color;
          transition: $transition;

          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }
}

// course card
.course-card {
  background: $white-color;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  max-width: 360px;
  overflow: hidden;
  padding: 10px;

  .image {
    position: relative;
    border-radius: 8px;
    background: $primary-color;
    width: 100%;
    height: 180px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .live-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
    color: $white-color;
    background: #ef4444;
  }

  .card-body {
    margin-top: 1rem;

    .card-reviews {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 14px;
      color: #6b7280;
    }

    .stars {
      display: flex;
      gap: 2px;
      color: #fbbf24;
    }

    h3 {
      font-size: 1.2rem;
      margin: 0.6rem 0;
      position: relative;
      white-space: normal;
      overflow: hidden;
      line-clamp: 2;
      transition: $transition;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      &:hover {
        cursor: pointer;
        color: $secondary-color;
      }
    }

    .meta {
      font-size: 14px;
      color: #6b7280;
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
    }

    .progress-bar {
      margin-top: 0.5rem;
    }

    .progress-bar .progress-text {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin-bottom: 4px;
      color: #4b5563;
    }

    .progress-bar .bar {
      width: 100%;
      background: #e5e7eb;
      height: 8px;
      border-radius: 10px;
    }

    .progress-bar .fill {
      height: 8px;
      background: #10b981;
      border-radius: 10px;
    }

    .download-btn {
      margin-top: 1rem;
      background: #e0e7ff;
      color: #3b82f6;
      border: none;
      width: 100%;
      padding: 1rem 12px;
      border-radius: 8px;
      display: flex;
      cursor: pointer;
      align-items: center;
      transition: $transition;
      justify-content: center;

      &:hover {
        background: $primary-color;
        color: $white-color;
      }
    }
  }
}

//Loader
.custom-loader {
  position: relative;
  width: 100%;
  height: 100%;

  .line {
    position: absolute;
    top: 90%;
    left: 45%;
    width: 4px;
    height: 12px;
    background: #1a293a;
    border-radius: 2px;
    transform-origin: center -16px;
    animation: fade 1s linear infinite;
  }

  // Position each line (like clock ticks)
  @for $i from 0 through 11 {
    .line-#{$i} {
      transform: rotate(#{30 * $i}deg) translateY(-13px);
      animation-delay: #{($i * -0.0833)}s;
    }
  }
}

@keyframes fade {
  0%,
  39%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}

// Chat Bot
.chatbot-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3rem;
  right: 8%;

  button {
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background: $white-color;
    display: flex;
    font-size: 1.5rem;
    border-radius: 1rem;
    align-items: center;
    color: $secondary-color;
    justify-content: center;
    transition: $transition;
    box-shadow: 0 0 0 1px rgba($light-color, 0.6);

    &:hover {
      background: $primary-color;
      color: $white-color;
      cursor: pointer;
    }
  }

  .news {
    position: absolute;
    background: $primary-color;
    color: $white-color;
    border-radius: 7px;
    padding: 0.3rem;
    top: -0.2rem;
    right: -0.1rem;
    width: 1rem;
    height: 1rem;
    font-size: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
  }
  transition: $transition;

  &:hover {
    .news {
      box-shadow: 0 0 1px 1px;
      background: $white-color;
      color: $primary-color;
    }
  }
}
.bot-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgba($light-color, 0.6);
  backdrop-filter: blur(0.2rem);

  .chat-card {
    width: 100%;
    height: 100%;
    max-width: 420px;
    max-height: 520px;
    background: $white-color;
    position: absolute;
    right: 2rem;
    bottom: 3rem;
    overflow: hidden;
    border-radius: 8px;

    .chat-header {
      width: 100%;
      height: 3rem;
      position: relative;
      gap: 2rem;
      display: flex;
      padding: 2rem;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-size: 2rem;
        color: $secondary-color;
      }

      .action {
        gap: 1rem;
        display: flex;
        align-items: center;

        button {
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          transition: $transition;
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }

          &.grip {
            cursor: grab;
          }
        }
      }
    }

    .chat-body {
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      gap: 1rem;
      display: flex;
      padding: 2rem;
      flex-direction: column;

      .msg-card {
        width: 100%;
        max-width: 320px;
        padding: 0.6rem;
        border-radius: 8px;
        transition: $transition;
        box-shadow: 0 0 0 1px rgba($light-color, 0.6);

        &.sent {
          box-shadow: none;
          margin-left: 1rem;
          border-bottom-right-radius: 0;
          background: rgba($light-color, 0.6);
        }

        &.received {
          border-top-left-radius: 0;
        }

        .msg {
          font-size: 0.8rem;
        }
      }

      .bot-loader {
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        border-radius: 1rem;
        display: flex;
        opacity: 0.6;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 1px rgba($light-color, 0.6);
      }
    }

    .chat-input {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 7rem;
      padding: 1rem;
      padding-top: 2rem;
      background: $white-color;

      textarea {
        width: 100%;
        resize: none;
        height: 100%;
        font-size: 0.8rem;
        border-radius: 8px;
        padding: 0.6rem 2rem;
        transition: $transition;
        box-shadow: 0 0 0 1px rgba($light-color, 0.6);

        &:focus {
          background: #f5f5f5;
        }

        &:hover {
          box-shadow: 0 0 0 1px $primary-color;
        }
      }

      .upload {
        font-size: 1rem;
        position: absolute;
        top: 2.75rem;
        left: 1.6rem;
        opacity: 0.6;
        color: $dark-color;
        transition: $transition;

        &:hover {
          color: $primary-color;
          cursor: pointer;
          opacity: 1;
        }
      }

      button {
        position: absolute;
        font-size: 2rem;
        right: 1.5rem;
        bottom: 1.5rem;
        padding: 0.3rem;
        border-radius: 8px;
        background: #f5f5f5;
        transition: $transition;

        &:hover {
          cursor: pointer;
          color: $primary-color;
          box-shadow: 0 0 0 1px rgba($light-color, 0.6);
        }
      }
    }
  }
}

// BLOG CARD
.blog-card-comp {
  width: 100%;
  min-width: 240px;
  position: relative;
  // gap: 1rem;
  display: flex;
  flex-direction: column;

  .image {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 8px;
    background: $secondary-color;
    box-shadow: 0 0 0 1px rgba($secondary-color, 0.3);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .text {
    width: 100%;
    padding: 0.4rem;
    position: relative;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;

    .items {
      display: flex;
      width: fit-content;
      max-width: 100% !important;
      align-items: center;
      justify-content: left;

      .date {
        gap: 0.2rem;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: $dark-color;
        width: fit-content !important;
      }

      .cat {
        font-size: 0.8rem;
        font-weight: 500;
        margin-left: 1rem;
        color: $secondary-color;
      }
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0.3rem 0;
      line-clamp: 2;
      color: $black-color;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      transition: $transition;

      &:hover {
        cursor: pointer;
        color: $secondary-color;
      }
    }

    p {
      font-size: 0.8rem;
      color: $dark-color;
      line-clamp: 2;
      width: 90%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    button {
      font-size: 0.9rem;
      font-weight: 500;
      transition: $transition;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
        padding-left: 0.4rem;
        cursor: pointer;
      }
    }
  }
}

// IMAGE GALLERY
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;

  .image-item {
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
}

// Responsive tweaks
@media (max-width: 600px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

// discussion o ncourse
.chat-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;

  .chat-message {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: flex-start;

    .avatar {
      width: 3rem;
      height: 3rem;
      overflow: hidden;
      border-radius: 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.small {
        width: 2rem;
        height: 2rem;
      }
    }

    .message-content {
      background: #f5f5f5;
      padding: 0 1rem;
      border-radius: 8px;
      width: 100%;
      transition: $transition;

      .message-header {
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        color: $dark-color;

        .name {
          font-weight: bold;
          color: $secondary-color;
        }

        .date {
          color: $light-color;
        }
      }

      .text {
        margin: 0.5rem 0;
        color: $dark-color;
      }

      .attachment {
        background: $light-color;
        padding: 0.5rem;
        border-radius: 4px;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;

        .file {
          font-weight: bold;
          color: $primary-color;
          margin-left: 0.3rem;
        }
      }

      .message-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.875rem;
        color: $dark-color;

        .likes {
          margin-right: 1rem;
        }

        .toggle-replies {
          background: none;
          border: none;
          color: $primary-color;
          cursor: pointer;
          font-weight: bold;
        }
      }

      .chat-reply {
        display: flex;
        margin-top: 1rem;

        .reply-content {
          background: lighten($primary-color, 40%);
          padding: 0.75rem;
          border-radius: 6px;
          margin-left: 0.75rem;
          width: 100%;

          .message-header {
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            color: $secondary-color;
          }

          .text {
            margin-top: 0.3rem;
            color: $dark-color;
          }
        }
      }
    }
  }

  .chat-input {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    position: relative;
    border-top: 1px solid $light-color;
    padding-top: 1rem;

    textarea {
      width: 100%;
      position: relative;
      padding: 0.75rem;
      border-radius: 8px;
      transition: $transition;
      border: 1px solid $light-color;
      resize: none;
      min-height: 6rem;
      font-family: inherit;
      background: $white-color;

      &:hover {
        border-color: $primary-color;
      }

      &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 0.2rem rgba($light-color, 0.6);
      }
    }

    .attach {
      position: absolute;
      left: 0.6rem;
      bottom: 0.6rem;
      padding: 0.3rem;
      border-radius: 8px;
      background: #f5f5f5;
      color: $light-color;
      transition: $transition;

      &:hover {
        color: $dark-color;
        cursor: pointer;
      }
    }

    button {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      cursor: pointer;
      padding: 0.6rem;
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 8px;
      color: $white-color;
      transition: $transition;
      background: $primary-color;

      &:hover {
        background: $secondary-color;
        box-shadow: 0 0 0 0.2rem rgba($light-color, 0.6);
      }
    }
  }
}
