@import "./assets/style/global.scss";

:root {
  --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition), color var(--transition);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

